{
    "redis-host": "tools-redis",
    "redis-namespace": "commons-metadata-extractor-<some-unique-id>",
    "redis-job-order-queue": "joborderq",
    "redis-download-queue": "downloadq",
    "redis-process-queue": "processq",
    "redis-max-queued-jobs": 100,
    "download-dir": "./imgfiles",
    "redis-result-hash": "resulthash"
}
